addr: 0.0.0.0:80
disable_domain_not_configured_warns: true
disable_failed_to_reach_warns: false
routes:
  - route: "reroute1.somedomain.xyz"
    forward: "http://127.0.0.1:3000"
  - route: "reroute2.somedomain.xyz"
    forward: "http://127.0.0.1:3001"
  - route: "localhost"
    forward: "http://127.0.0.1:3002"